<div class="container">
  <!-- Introduction Row -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">What is CFC-Ops?</h1>
      <h4>This web portal is an experiment to consolidate Cyber Fusion Center (CFC) operations. This portal features tracking, recording and analysis of different CFC tasks. CFC operations also houses metrics dashboards for managers and leadership team to quicly glance over team's performance and operations.</h4>
    </div>
    
    
    
    <div class="col-lg-12">
      <h1 class="page-header">Pitch Deck</h1>
    </div>
    <p align="center">
      <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSZYr-vqNs5FAAVGiFvkEOwoKjGYmjprcpr7T2dQS1n-XTnA64BKNf0xr_u0SBTgIynVSdC2hHmC16f/embed?start=false&loop=false&delayms=3000" frameborder="1" width="960" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </p>
    
    
  </div>
  
</div>
