<div class="home-callout text-center container-fluid">
  <h1>Welcome to Cyber Fusion Center - Operations</h1>
  <h3>A home for CFC teams to manage their operations.</h3>
</div>

<div id="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="well">
          <div class="text-center">
            <h2 class="text-center">
              Incident Response
            </h2>
            <button class="btn btn-primary btn-lg btn-block"> Dashboard</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <div class="text-center">
            <h2 class="text-center">
              Threat Defense Operations
            </h2>
            <button class="btn btn-primary btn-lg btn-block"> Dashboard</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <div class="text-center">
            <h2 class="text-center">
              Cyber Threat Intelligence
            </h2>
            <button class="btn btn-primary btn-lg btn-block"> Dashboard</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <div class="text-center">
            <h2 class="text-center">
              Vulnerability Management
            </h2>
            <button class="btn btn-primary btn-lg btn-block"> Dashboard</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="feature">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h3>Features</h3>
        <p>A place for CFC teams to collaborate and conduct their operations efficiently.</p>
      </div>
      <div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">
            <i class="fa fa-laptop"></i>
            <h2>Team Profiles</h2>
            <p>Make an account for your team.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">
            <i class="fa fa-align-left"></i>
            <h2>Operations</h2>
            <p>Conduct day-to-day operations through the portal. Assign and track progress of tasks across teams.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">
            <i class="fa fa-database"></i>
            <h2>Analytics</h2>
            <p>Generate analytics on CFC operations.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">
            <i class="fa fa-book"></i>
            <h2>Playbooks</h2>
            <p>One stop shop to browse threat detection library.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
