<h1>VirusTotal</h1>
<% if @vtreport %>
    <p> VirusTotal report exists and the URL is as follows </p>
   <a href="" ><%=  @vtreport_url%> </a>
   <br> 
    <form action=@vtreport_url>
    <input type="submit" value="Go to VT URL" />
    </form>
    <% else %>
    <p> No results for the SHA256 hash found :( </p>
<% end %>